<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jobseek.mapper.SsoCompanyPositionMapper">
    <insert id="insertObject" parameterType="cn.jobseek.pojo.CompanyPosition">
        insert into jb_company_position
        (company_id,pubperson_id,position_id)
        values
        (#{companyId},#{pubpersonId},#{positionId})
    </insert>

    <delete id="deleteOnejob">
        delete from jb_company_position
        where 1=2
        <if test="positionId!=null">
            or position_id = #{positionId};
        </if>
    </delete>
</mapper>