<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jobseek.mapper.SsoWebPositionitemMapper">

    <select id="selectObjectByPositionId" resultMap="PositionItemVo">
        select * from jb_web_positionitem
        <where>
            <foreach collection="positionIds"
                     separator="or"
                     item="positionId">
                id = #{positionId}
            </foreach>
        </where>
    </select>
    
    <resultMap id="PositionItemVo" type="cn.jobseek.vo.PositionItem" >
        <id column="id" property="id"/>
        <result column="position_name" property="positionName"/>
        <result column="address" property="address"/>
        <result column="check_status" property="checkStatus"/>
        <result column="company_name" property="companyName"/>
        <result column="pub_name" property="pubName"/>
    </resultMap>

</mapper>